h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

figure {
  margin-bottom: 2em;
}

.img-smaller {
  width: 15%;
}

.img-larger {
  width: 50%;
}

.icons {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  width: 100%;
}

.btn-icon {
  display: inline;
  flex-basis: 50px;
}

@media screen and (min-width: 768px) {
  .btn-icon {
    flex-basis: 45px;
  }
}
