h3,
.h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

figure {
  margin-bottom: 2em;
}

.img-smaller {
  width: 15%;
}

.img-larger {
  width: 50%;
}

.btn-edit {
  color: var(--add);
}
