.buttons-group {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  padding-bottom: 0;
}

.btn-list {
  background-color: var(--list);
  color: var(--white);
  margin-bottom: 0.5em;
}

span {
  font-weight: 600;
}

.sort-active {
  color: var(--black);
}
