.btn-search {
  background-color: var(--search);
  color: var(--white);
}

.input-wrapper {
  position: relative;
}

.search-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0%;
}

.list-group-item:hover {
  background-color: var(--search-light);
}

.search-results {
  display: grid;
  place-items: center;
}
