@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Oswald&display=swap");

/* 

pallete1:

 #ebbab9
  #97b1a6
  #407076
  #c9c5ba
  #698996
#39362d

#5e4b56;
#fcd0a1;
*/

:root {
  --primary: #01069b;
  --primary-dark: #010459;
  --primary-light: #dbdcfd;
  --secondary: #cf8617;
  --secondary-light: #f1c88b;
  --grey-dark: #292826;
  --grey-light: #e6e6e7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oswald", sans-serif;
  background-color: #f1e9da;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
} */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Knewave", cursive;
  color: #6e0e0c;
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 5vh;
}

.bg-white {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
    -5px -5px 15px rgba(255, 255, 255, 0.2);
}

.btn {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2),
    -3px -3px 7px rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}

.btn-custom {
  background-color: #407076;
  color: white;
}

/* 
second palette

F5CAC3
271902
84A59D

*/

.links {
  width: 200px;
  height: 200px;
  position: relative;
  /* margin: auto; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;

  margin-bottom: 5vh;
}

.link {
  border: none;
  background-color: transparent;
  width: 115%;
}

.link svg {
  transition: transform 400ms 50ms;
}

.link svg:hover {
  transform: scale(1.2);
}

.add {
  grid-area: 2/1/3/2;
}

.add:hover circle {
  fill: #4e888f;
}

.list {
  grid-area: 2/3/3/4;
}

.list:hover circle {
  fill: #f49c9b;
}

.search {
  grid-area: 3/2/4/3;
  position: relative;
  top: -8%;
}

.search:hover circle {
  fill: #c8b3d4;
}

.help {
  grid-area: 1/2/2/3;
  position: relative;
  top: 9%;
}

.help:hover circle {
  fill: #ead9b5;
}

.btn-search {
  background-color: #bba0ca;
  color: white;
}

.search-section form {
  position: relative;
}

.search-list {
  position: absolute;
  width: 66%;
  top: 83%;
  left: 4%;
}

.list-group-item:hover {
  background-color: #f1ecf4;
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
  }

  h1 {
    font-size: 8rem;
    margin-right: 0.3em;
  }

  .links {
    width: 170px;
    height: 170px;
  }
}
