@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  /* COLORS */

  --white: #fbfbfb;
  --black: #0a0a0a;
  --background: #f1e9da;
  --header: #6e0e0c;
  --add: #407076;
  --add-lighter: #4e888f;
  --list: #f28482;
  --list-lighter: #f49c9b;
  --search: #bba0ca;
  --search-lighter: #c8b3d4;
  --search-light: #f1ecf4;
  --help: #e1ca96;
  --help-lighter: #ead9b5;
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --shadow-light: rgba(255, 255, 255, 0.2);

  /* TRANSITIONS */

  --btn-trans: transform 400ms 50ms;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oswald", sans-serif;
  color: var(--black);
  background-color: var(--background);
  /* min-height: 100vh;
  display: grid;
  align-items: center; */
}

section {
  margin: 3em auto;
  padding: 3em 0;
  text-align: center;
}

p {
  font-weight: 300;
}

input,
select,
textarea {
  border-color: transparent;
  box-shadow: 3px 3px 7px var(--shadow-dark), -3px -3px 7px var(--shadow-light);
}

.section {
  width: 90%;
  max-width: 700px;
}

.card-white {
  border-radius: 0.25rem;
  background-color: var(--white);
  box-shadow: 5px 5px 15px var(--shadow-dark),
    -5px -5px 15px var(--shadow-light);
}

.btn {
  box-shadow: 3px 3px 7px var(--shadow-dark), -3px -3px 7px var(--shadow-light);
  text-transform: uppercase;
  transition: var(--btn-trans);
}

.btn:hover {
  transform: scale(1.1);
}
